body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", "Segoe UI",
    Tahoma, Geneva, Verdana, sans-serif;
}

pre {
  padding: 1rem;
  background-color: #efefef;

  h3 {
    margin: 0;
  }

  > code {
    display: block;
  }
}
